body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: white;
}

#message {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}
